@import "src/styles.scss";

:host {
    width: 100%;
    display: block;
}

main {
    padding-bottom: 75px;
}

.name-label {
    font-size: 5em;
    color: $white;
}

.title-label {
    font-size: 2em;
    color : $color1;
}

.placeholder {
    height: 500vh;
}

.content {
    margin-top: 90px;
}

.fpholder {
    cursor: grab;
    height: 100vh;

    .layer {
        position: absolute;
    }

    .layer.one {
        z-index: 1000;
        transform: translate(-50%,-50%);
        top : 50%;
        left : 50%;
        text-align: center;
        backdrop-filter: blur(10px);
        max-width: 60%;
        width: 1500px;
        padding: 3em 1em;
        border-radius: 3em;
        cursor: default;
    
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

@media screen and (max-width : 1500px) {
    .name-label {
        font-size: 2em;
    }
    .title-label {
        font-size: 1em;
        color : $color1;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

}

@media screen and ( max-width : 700px ) and (orientation : portrait) {
    .fpholder .layer.one {
        max-width: 80%;
    }

    #stack {
        margin: 13%;
        width: 76%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


